


<div class=" flex justify-center items-start w-screen flex-wrap">
  <div class=" sm:w-full lg:w-[45%]   bg-base-300 m-4 text-center rounded-2xl border-3 border-accent justify-start">
    <div class="text-accent-content py-4">Boards</div>
    <div class="flex flex-wrap p-3">

      <% @boards.each do |board| %>
        <span class="w-30 border-2 border-accent-content text-accent-content rounded-xl hover:bg-primary-content m-2 p-1"><%= link_to "#{board.name}", board_path(board.id) %></span>
      <%end%>
    </div>
  </div>

  <div class=" sm:w-full lg:w-[45%] bg-base-300 m-4 text-center rounded-2xl border-3 border-accent">
    <div class="text-accent-content py-4">Latest Threads</div>
    <div class="flex flex-wrap gap-4 p-3">
      <% @discussion_threads[0..7].each do |thread| %>

        <div class="card bg-base-100 shadow-sm sm:basis-[48%] lg:basis-[23%] border-2 border-accent-content text-accent-content rounded-xl hover:bg-primary-content  p-1">
          <figure class="">

            <% if thread.media[0] %>

            <% if thread.media[0].content_type.start_with?('image/') %>
              <%= image_tag thread.media[0] %>
            <% elsif thread.media[0].content_type.start_with?('video/') %>
              <%= video_tag url_for(thread.media[0]) %>
            <% else %>
              <%= pp  thread.media[0].filename%>
            <% end %>
            <%end%>
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title"><%= link_to "#{thread.title}", discussion_thread_path(thread.id) %></h2>
            <p><%= thread.content %></p>
          </div>
        </div>
      <%end%>
    </div>

  </div>
</div>
